.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
/out

**/_site
**/.sass-cache

**/*.lock
**/*.log

## never add builds

R4Intellij.jar
R4Intellij.zip
